* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	max-width: 100%;
	background-image: linear-gradient(rgba(255,255,255,.75), rgba(255,255,255,.75)), url(image/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.main-logo {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-top: 50px;
}
.main-logo__title {
	margin-top: 25px;
}
/*.main-logo img {
	margin-top: 55px;
} */

.main-logo span {
	margin-top: 5px;
	font-family: system-ui;
	font-weight: 300;
	font-size: 11px;
	letter-spacing: 2px;
}
.center-plug {
	width: 60%;
	height: 80px;
	background-image: url(image/center.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.main .text {
	text-align: center;
	font-family: system-ui;
	letter-spacing: 3px;
	margin-top: 25px;
}
.social-icon {
	margin-top: 50px;
}
.social-icon a {
	display: inline-block;
	background-position: center;
	background-size: cover;
	margin-right: 25px;
}
.social-icon .instagram{
	background-image: url(image/icon-instagram.png);
	width: 60px;
	height: 60px;
}
.social-icon .telephone {
	background-image: url(image/icon-telephone.png);
	width: 60px;
	height: 60px;
}
.social-icon .telegram {
	background-image: url(image/icon-telegram.png);
	width: 60px;
	height: 60px;
}

.contact-info {
	font-family: system-ui;
	letter-spacing: 1px;
	margin-left: 15px;
}
